header {
  display: flex;
  align-items: center;
  height: 100px;
}

header ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

header ul li a {
  padding: 10px 25px;
  text-decoration: none;
  background-color: lightblue;
  border-radius: 5px;
}

